.header{
    display: flex;
    justify-content: space-between;
    flex-basis: 5em;
    align-items: center;
    padding: $spacing-m;

    #logo{
        background-image: url("/images/dvse_logo.svg");
        width: 160px;
        height: 50px;
        background-repeat: no-repeat;
        cursor: cell;
       
    }
}