.table {
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        text-transform: uppercase;
        background-color: darken($color: $color-default, $amount: 0);

        .text {
            text-align: center;
            padding: $spacing-s;
            flex: 1;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        max-height: 30em;
        overflow: auto;
        flex-direction: column;

        &--loading {
            justify-content: center;
            align-items: "center";
        }

        .table__item {
            display: flex;
            background-color: lighten($color: $color-default, $amount: 30);

            &:nth-of-type(even) {
                background-color: $color-default;
            }

            &:hover {
                background-color: lighten($color: $color-primary, $amount: 30);
            }

            .table__cell {
                display: flex;
                justify-content: center;

                padding: $spacing-s;
                flex: 1;
            }
        }
    }
}
